caption{
    background-color: aquamarine;
    border: 1px solid black;

}
main{
    margin-top: 4rem;
}
table{
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    width: 200px;
    height: 300px;
    
    margin:0rem auto ;
    

}
tr:nth-child(3){
    background-color:rgb(87, 164, 66);
}

table,tr,th{
    border: 1px solid black;
}
th{
    background-color: rgb(171, 232, 160);
}
tr{
    background-color: rgb(221, 250, 215);
}

@media only screen and (min-width: 768px){
    table,h2{
        width: 500px;
        
    }
    caption{
        width: 493px;
    }
    table{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    td,tr,th{
        width: 400px;
        height: 35px;
    }

}