:root {
    --dark1: #344E41;
    --dark2: #3A5A40;
    --middle: #588157;
    --light1: #A3B18A;
    --light: #DAD7CD;


}

* {
    overflow-x: hiddn;
    margin: 0;
    padding: 0;
    color: var(--dark1);

}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--light);
    line-height: 1.5rem;
}


.topheader {
    display: flex;
    flex-direction: row;
    font-size: 8px;
    height: 4rem;
}

header {
    background-color: var(--light);
    height: 310px;
    border-radius: 8px;
}

header>img {
    display: float;
    width: 8%;
    height: 8%;
}

h1 {
    color: var(--light);
    overflow: hidden;
    display: inline;
}


.date {
    width: 80%;
    height: 20px;
    background-color: var(--light1);
    color: black;
    margin-bottom: 1rem;
    margin: 10px auto;
    border-radius: .2rem;
    text-align: center;
    overflow: hidden;
    padding: .75rem 1.5rem;

}

.fa {
    height: 20px;
    padding: 13px;
    font-size: 10px;
    margin-left: .5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa {
    color: white;
    background-color: rgb(74, 74, 240);
}


/* Twitter */


.logo {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    margin-left: 2vw;
}

#humburgerBtn:hover {
    background-color: var(--light1);
}

nav {
    display: flex;
    flex-direction: row;
    background-color: var(--light1);
    text-align: center;
    padding: auto;


}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav button {
    margin: 0.2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: var(--dark1);
    display: inline-block;
    padding: 0.8rem 2vw;

}

nav ul li a {
    display: block;
    padding: 0.8rem 5vw;
    text-decoration: none;
    color: var(--light);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}


nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--light);
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#humburgerBtn span:nth-child(1) {
    display: block;
}

#humburgerBtn span:nth-child(2) {
    display: none;
}



#humburgerBtn.open span:nth-child(1) {
    display: none;
}

#humburgerBtn.open span:nth-child(2) {
    display: block;
}



main {
    height: 100%;
    margin: 15px 4px 15px 0px;
}



.component label {
    background-color: transparent;
}

.leftside {
    margin-top: 1rem;
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;


}

.one {
    padding: 20px;
}

.line {
    background-color: var(--dark1);
    height: 2px;
    width: 22rem;
    border: 1px solid black;
}

.component {
    width: 90%;
    padding: 0px;
    height: 70%;
    overflow: hidden;
    background-color: var(--light1);
    font-size: 15px;
    box-shadow: 5px 5px 5px var(--dark2);
}

.one,
.two,
.three,
.four,
.five,
.six {
    padding: 10px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.hero img {
    width: 100%;
    height: 100%;
}

.middle {
    width: 95vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}



.updates {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5px;



    width: 95%;
    padding: 0px;
    height: 20%;
    overflow: hidden;
    background-color: var(--light);
    font-size: 15px;
    box-shadow: 5px 5px 5px var(--dark2);
}

.updates>ul> {
    padding: 4px;
}

.updates>ul>li {
    margin: 0.5rem 1rem 0.5rem 2rem;
}

.rightside {

    margin-top: 1rem;
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

}


.component6>p {
    color: black;
    font-size: 12px;
}

.component1>picture>img {
    mix-blend-mode: multiply;
    width: 6rem;
    height: 6rem;
}



.component2>div>p {
    color: black;
}

.three {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    box-shadow: 5px 5px 5px var(--dark2);
}

.joinBtn {

    color: var(--light);
    border-radius: 4px;
    padding: 6px;
    border: 0.1px solid var(--light1);
    width: 6rem;
    padding: 1rem;
    background: var(--dark1);
    backdrop-filter: saturate(180%) blur(10px);
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;


}

.hero {
    position: relative;
}

.herobutton {
    position: absolute;
    z-index: 2;
    text-decoration: none;
    bottom: 0.5rem;
    right: 23rem;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    left: 8rem;

}

.joinBtn:hover {
    background-color: var(--dark1);
    color: var(--light);
    animation: effect 0.4s infinite;
}

@keyframes effect {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    20% {
        transform: translateX(-4px) rotate(-4deg);
    }

    40% {
        transform: translateX(-2px) rotate(-2deg);
    }

    60% {
        transform: translateX(4px) rotate(4deg);
    }

    80% {
        transform: translateX(2px) rotate(2deg);
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

footer {
    background-color: var(--light1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12.5px;
}



.contact>h3,
p,
a {
    justify-content: center;
    margin: 0.2rem;
    color: var(--light);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footbottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footbottom>span {
    color: var(--light);

}


/*Css for discover page*/

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wrap {
    width: 100%;
    height: 80%;
    margin-top: 2px;
    overflow: hidden;
    align-items: center;

}

.ele {
    margin-top: 5rem;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 4px;
    background-color: var(--light);
    padding: 2px;
    box-shadow: 2px 2px 4px 4px #999;
}

.imgd {
    cursor: pointer;
    filter: blur(0em);
    transition: filter 0.5s;
    transition-property: transform;
    transition-duration: 0.3s;

    box-shadow: 2px 2px 4px #999;
    height: 100%;
    width: 100%;
    display: block;

    overflow: hidden;
    border-radius: 2px;
}

.discoverimage {
    display: flex;
    width: 98%;
    height: 140%;
    background-color: rgb(206, 212, 208);
    border: 1px solid rgb(16, 14, 14);
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
}

p {
    font-family: "Raleway" sans-serif;
    color: black;
}

h1 {
    color: black;
}

.img {
    width: 100%;
    height: 80%;
}

label {
    font-size: 20px;

    border-radius: 4px;
    background-color: var(--light);
    margin-top: 2px;
    padding: 2px;
}

/* join us form */

form fieldset {
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.5rem 2%;

}

form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;

}

form label.top,
form div {

    display: block;
    padding-top: 1rem;
    color: red;
    font-size: .8rem;

}

form label.top input,
form label.top select,
form div.sbs select {

    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 88%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.text input {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 90%;
    max-width: 42rem;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.1);

}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.joinBtn {
    border: none;
    background-color: var(--dark2);
    color: var(--light);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 95%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: var(--dark2) solid 6px;
}

form div.sbs select {
    width: 100%;

}

form div.details {
    padding: .2rem 2rem .2rem;
    border: 1px black solid;
    border-radius: .5rem;
    margin: 2px;
}

form div.details ol {
    margin: 1rem;

}

/*Directory  Cards*/
.mainhomedire {
    margin-top: 1rem;
    height: 3100px;

}

.mainhomedire h2 {
    margin: 1rem 1rem 1rem 2.5rem;
}

.directory {

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    height: 200px;
    margin: auto;
}

.card {

    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    box-shadow: 4px 5px 8px 1px gray;
}

.card a:hover {
    cursor: pointer;
}

.footbottom {
    padding: -20px;
}

.link {
    width: 150px;
    height: 50px;
    margin: 5px;
    background-color: var(--light1);
}

.card p,
label {
    overflow: hidden;
    margin: 2px;
}


/* Contact Us*/

.contactmiddle{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    
}
.left{
    width: 200px;
    background-color: rgba(152, 200, 150, 0.40);
    padding: 15px;
    border-radius: 8px;
}
.left>h2{
    text-decoration: underline;
}


.heroimg{
    width: 250px;
    height: 200px;
}

.right{
height: 200px;

}
.image2{
    width: 200px;
}
#image3{
    width: 250px;height: 300px; 
}

.office{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}

.heroimg2{
    width: 250px;
    border-radius: 5%;
}
.details{
    padding: 20px;
    width: 200px;
    border: 1px solid black;
    border-radius: 8px;
}

#contactform{
    width: 250px;
 }