@media only screen and (min-width:64rem) {
    header {
        overflow: hidden;
    }

    nav ul li a {
        padding: 0.5rem 1rem;
    }

    footer {
        display: flex;
        flex-direction: row;
    }

    footer>h3 {
        display: inline;
    }

    footer>p {
        display: inline;
    }

    .date {
        font-size: 25px;
        width: 90%;
        height: 35px;
        font-weight: bolder;
        text-align: center;
    }

    footer>img {
        margin-left: 2rem;
    }

    .leftside {
        grid-row: 1/3;
        gap: 6px;
        width: 19vw;
        height: 108vh;
        margin-top: 0rem;
    }

    .component1,
    .component2,
    .component3 {
        height: 34.59vh;
        padding: 2px;
        width: 17vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rightbar {
        grid-column: 3/4;
        grid-row: 1/3;
        gap: 6px;
        height: 109vh;
        display: flex;
        flex-direction: column;
        margin: 0rem 1rem 0rem 0.8rem;
    }

    .component4,
    .component5,
    .component6 {
        height: 34.70vh;
        padding: 2px;
        width: 17vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .middle {
        grid-column: 2/3;
        grid-row: 1/3;
        height: 99%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        width: 57.59vw;

    }

    .hero {
        height: 75%;
        margin: 0;


    }

    .updates {
        height: 20%;
        box-shadow: 8px 5px var(--middle);
    }

    .hero>picture {
        height: 100%;
        overflow: hidden
    }

    .mainhome {
        margin: 1rem 1rem 2rem 1rem;
        overflow: hidden;
        height: 90%;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 60% 40%;
    }

    .heroimg {
        height: 100%;
        width: 100%;
    }


    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.4rem 4rem 4rem 12rem;

    }

    .footbottom {
        display: inline-block;
        margin-left: 6rem;
    }

    nav>li:hover {
        background-color: var(--dark1);
    }

    .component {
        color: var(--dark1);
        background-color: var(--light);
        padding: 2px;
    }

    .component>span {
        font-size: 15px;
        margin: 10px 102px 10px 10px;
    }

    .component5>h2 {
        margin-left: 1.5rem;
    }

    .component5>span {
        margin-left: 0.5rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contact {
        margin: 0 0 0 5rem;
    }

    .hero picture img {
        width: 100%;
        height: 100%;
    }

    .herobutton {
        left: 25rem;
    }

    h2 {
        overflow: hidden;
        font-size: 25px;
    }

    /*Discoverypage css*/
    .welcome {
        overflow: hidden;
    }

    .container {
        display: grid;
        gap: 60px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        height: 1200px;
        width: 1100px;
        overflow-y: hidden;
    }

    .wrap {
        width: 95%;
        height: 500px;
        margin-left: 5px;
        overflow: hidden;
        border: none;
    }

    h1 {
        font-size: 30px;
    }

    .imgd {
        width: 100%;
    }

    .maindiscover {
        margin: 1rem 1rem 2rem 0.5rem;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*join us form */

    form {
        overflow-y: hidden;
        height: 100%;
    }

    .mainhomejoin {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-content: center;
    }

    form div.details ol {
        list-style-type: upper-roman;
        margin: 0.2rem;

    }

    form label.top input,
    form label.top select,
    form div.sbs select {
        -webkit-appearance: none;
        display: block;
        font-size: 1rem;
        border: solid 1px #999;
        border-radius: 4px;
        padding: .75rem;
        color: #555;
        width: 100%;
        max-width: 42rem;
        background-color: rgba(0, 0, 0, 0.1);
    }

    form label.text input {
        display: block;
        font-size: 1rem;
        border: solid 1px #999;
        border-radius: 4px;
        padding: .75rem;
        color: #555;
        width: 100%;
        max-width: 50rem;
        height: 10rem;
        background-color: rgba(0, 0, 0, 0.1);

    }

    /* directory card*/
    .mainhomedire {
        height: 1700px;
    }

    .directory {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: 3px;
        margin-left: 3rem;

    }
    .card img{
        margin: 0;
    }

    .card {
        width: 350px;
    }

    .mainhomedire h2 {
        margin: 10px;
    }
    footer{
        font-size: 15px;
    }

}