@media only screen and (min-width:35rem) {
   * {

      overflow-x: hidden;
   }

   .date {
      font-size: 20px;
      width: 80%;
      height: 30px;
      font-weight: bold;
   }

   header p {
      margin-left: 2vw;
   }

   nav button {
      display: none;
   }

   nav ul#primaryNav {
      display: flex;
      margin-left: 2vw;
      border-left: 1px solid rgba(0, 0, 0, 0.3);
   }

   nav ul li a {
      border: none;
      border-right: 1px solid rgba(0, 0, 0, 0.3);
   }

   main {
      height: 100%;
      margin: 15px 4px 15px 8px;
   }

   .leftside {
      margin: 1rem;
      width: 90vw;
      grid-column: 1/4;
      display: grid;
      grid-template-columns: 50% 50%;
      justify-content: center;
      align-items: center;
      height: 80vh;

   }

   .one {
      grid-column: 1/2;
      margin-left: 0.2rem;
   }

   .two {
      grid-column: 2/3;
   }

   .three {
      grid-column: 1/3;
      width: 97%;
      margin-left: .4rem;
   }

   .hero {
      width: 100%;

   }


   .middle {
      margin: 1rem;
      width: 90vw;
      grid-column: 1/4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80vh;
   }

   .middle>.hero {
      grid-column: 2/3;
      width: 95%;
      display: flex;
      flex-direction: column;
      width: 100%;


   }

   .hero>picture {
      overflow: hidden;
      height: 100%;
      width: 100%;
   }

   .updates,
   h2,
   ul {
      overflow: hidden;
   }

   .middle>.updates {

      width: 96%;
      height: 15%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 8px 5px #888888
   }

   .rightbar {
      grid-column: 3/4;
      display: grid;
      grid-template-columns: 50% 50%;
      margin-left: 3.8rem;
      width: 81vw;
      height: 80vh;

   }

   .component4 {
      padding: 0;
   }

   footer>img {
      margin-left: 19rem;
   }

   .contact>h3,

   a {
      justify-content: center;
      margin: 0.2rem;
      color: var(--light);
   }

   .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .footbottom>span {
      color: var(--light);
      align-items: center;
      justify-content: center;
   }

   /*Discoverpage css*/
   .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 10px;
   }

   .wrap {

      height: 100%;
      overflow: hidden;
      border: none;
   }

   .discoverimage {
      height: 60%;
   }

   .imgd {
      height: 100%;
      width: 100%;
   }

   .ele {
      margin-top: 1rem;
   }

   /*form*/
   form label.text input {
      display: block;
      font-size: 1rem;
      border: solid 1px #999;
      border-radius: 4px;
      padding: .75rem;
      color: #555;
      width: 100%;
      max-width: 42rem;
      height: 10rem;
      background-color: rgba(0, 0, 0, 0.1);

   }

   /* directory card*/

   .directory {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 5px;
      width: 100%;
      height: 100%;
   }

   .card {
      width: 400px;
      height: 500px;
   }

   .mainhomedire {
      text-align: center;
      overflow: hidden;
   }

   .mainhomedire h2 {
      margin: 2px;
   }

   .contactmiddle {
      display: flex;
      flex-direction: row;
      width: 800px;
      
   }

   .right {
      overflow: hidden;
      height: 400px;
   }
   .left{
      width: 200px;
   }
   .image2 {

      width: 400px;
   }
   #image3{
      width: 400px;
   }
   .image3{
      width: 300px;

   }
   .office{
      margin-top: 1rem;
      display: flex;
      flex-direction:column;
      width: 600px;
   }
   .contactperson{
      
      display: flex;
      flex-direction: row;
   }
   .heroimg2{
      width: 250px;
      height: 250px;
   }
   .details{
      display: flex;
      flex-direction: column;
     
  
   }
   #contactform{
      width: 550px;
   }


}

