.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.wrap {
    width: 90%;
    height: 80%;
    overflow: hidden;
    border: none;
}

.ele {
    margin: 0;
}

picture {
    height: 40%;
}

.wrap.img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

p {
    color: black;
    margin: 2px;
    padding: 2px0;
}

header,
body,
main,
footer {

    max-width: 1600px;
}

/*Discovery*/
.wrap {
    width: 100%;
    height: 80%;
    overflow: hidden;
    border: none;
}

.ele {
    margin: 0;
}

/*
    picture {
        height: 100%;
    }*/

.wrap.img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

p {
    color: black;
    margin: 2px;
    padding: 2px0;
}

main {
    max-width: 1400px;
}